<?xml version="1.0" encoding="UTF-8"?>
<plugin title="Community Collaboration Plugin">


  <perspective id="collaboration.perspective" title="${title}" layout-priority="25"
		resourcebundle="content/ccp/resources/messages/messages" content-url="content/ccp/static/index.html">
  </perspective>

  <static-paths>
    <static-path url="/ccp/resources" localFolder="resources"/>
    <static-path url="/ccp/static" localFolder="static"/>
  </static-paths>


</plugin>
