/* ==========================================================================
   Font Stack
   ========================================================================== */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans-Semibold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* ==========================================================================
   General Styles
   ========================================================================== */

html {
	overflow-y: scroll;
	height: 100%;
}

body {
	color: #555555;
	font-weight: 300;
	font-size: 16px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body.sticky-footer.mobile > div.wrapper{
  height: calc(100% - 20px);
}

b{
  font-weight: 600 !important;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
	outline: 0 none;
}

.hidden{
  visibility: hidden;
}

p{
  line-height: 27px;
}

h1 {
	font-weight: 300;
	font-size: 55px;
}

h2 {
	font-weight: 300;
	font-size: 30px;
}

h3 {
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 0;
	margin-left: -2px;
  margin-bottom: 15px;
}

h4{
  font-weight: 600;
  font-size: 16px;
  padding-top: 15px;
}

span.headline {
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
}

li{
  line-height: 27px;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
	position: fixed;
	width: 100%;
	background: #FFFFFF;
	height: 70px;
	z-index: 1000;
}

a.pentaho-url {
	height: 50px;
	width: 250px;
	margin: 10px 0;
	background: url(../img/logo-pentaho.svg) no-repeat left center;
	background-size: contain;
	display: block;
	outline: 0 none;
}

.no-svg a.pentaho-url {
	background: url(../img/logo-pentaho.png) no-repeat left center;
}

a.ccp-url button,
a.ccp-url button:link,
a.ccp-url button:visited,
a.ccp-url button:hover,
a.ccp-url button:active,
a.ccp-url button:focus {
	line-height: 32px;
	height: 32px;
	border-radius: 16px;
	padding: 0 35px;
	border: 0 none;
	background: #3598DB;
	color: #FFF;
	font-size: 14px;
	font-weight: 300;
	outline: 0 none;
	text-decoration: none;
	filter: none;
	margin: 19px 0;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}

a.ccp-url button:hover,
a.ccp-url button:active {
  background: #4ba3df;
}

a.ccp-url-mobile button,
a.ccp-url-mobile button:link,
a.ccp-url-mobile button:visited,
a.ccp-url-mobile button:hover,
a.ccp-url-mobile button:active,
a.ccp-url-mobile button:focus {
	line-height: 60px;
	height: 60px;
	border-radius: 0;
	padding: 0 15px;
	border: 0 none;
	background: #1B877F;
	color: #FFF;
	font-size: 14px;
	font-weight: 300;
	outline: 0 none;
	text-decoration: none !important;
	filter: none;
	margin: 0;
	display: block;
	width: 100%;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
}

a.ccp-url-mobile button:hover,
a.ccp-url-mobile button:active {
	background: #1F9C93;
}

a.ccp-url-mobile { text-decoration: none; }

.documentation-url {
	margin-right: 10px;
}

a.documentation-url button,
a.documentation-url button:link,
a.documentation-url button:visited,
a.documentation-url button:hover,
a.documentation-url button:active,
a.documentation-url button:focus {
	background: #555;
	padding: 0 15px;
}

a.documentation-url button:hover {
	background: #777;
}


/* ==========================================================================
   Sections Container
   ========================================================================== */

.sections-container > section {
	padding-top: 80px;
	padding-bottom: 80px;
    position: relative;
}

.sections-container > section ol {
	margin-top: 50px;
	padding-left: 22px;
	font-weight: 600;
	color: #58C6BB;
}

.sections-container > section ol > li {
	margin-bottom: 10px;
}

.sections-container > section ol > li > span{
	font-weight: 300;
	color: #555;
}

.sections-container > section.ccp-05 ol,
.sections-container > section.ccp-05 ol > li > span{
	color: #FFF;
}

.sections-container > section img {
	max-width: 90%;
}

/* ==========================================================================
   Section #01 - Intro
   ========================================================================== */

section.ccp-01 {
	background: #58C6BB;
	background: rgba(88,198,187,.8);
	color: #FFFFFF;
	padding-top: 180px;
  padding-bottom: 70px;
}

section.ccp-01 > .container {
	height: auto;
}


section.ccp-01 p.sub-title{
  letter-spacing: 0.05em;
}

section.ccp-01 img.mobile-phone{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* ==========================================================================
   Section info - info
   ========================================================================== */

section.ccp-info {
  background: #555;
  padding: 80px 0;
  color: #fff;
}

/* ==========================================================================
   Section #02 - Main View
   ========================================================================== */

section.ccp-02 {
	background: #F3F4F5;
}


/* ==========================================================================
   Section #03 - Custom Dataset
   ========================================================================== */

section.ccp-03 {
	background: #58C6BB;
	background: rgba(88,198,187,.2);
}


/* ==========================================================================
   Section #04 - Display Analyzer
   ========================================================================== */

section.ccp-04 {
	background: #F3F4F5;
}


/* ==========================================================================
   Section #05 - Easy Integrations
   ========================================================================== */

section.ccp-05 {
	background: #1ea29b;
	background: -moz-linear-gradient(top, #1ea29b 0%, #86e2d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1ea29b), color-stop(100%,#86e2d5));
	background: -webkit-linear-gradient(top, #1ea29b 0%,#86e2d5 100%);
	background: -o-linear-gradient(top, #1ea29b 0%,#86e2d5 100%);
	background: -ms-linear-gradient(top, #1ea29b 0%,#86e2d5 100%);
	background: linear-gradient(to bottom, #1ea29b 0%,#86e2d5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ea29b', endColorstr='#86e2d5',GradientType=0 );
	color: #FFFFFF;

  padding-bottom: 80px !important;
}

.easy-integrations-img {
	margin: 20px auto 0;
}

section.ccp-05 ul{
  padding-left: 10px;
}

section.ccp-05 ul.nav{
  padding-left: 0px;
  border: none;
}

section.ccp-05 ul li{
  list-style: none;
  margin-top: 10px;
}

section.ccp-05 ul li:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  margin: 0 7px 0 -9px;
  border-radius: 50%;
  background-color: #FFF;
}

section.ccp-05 ul li.tab:before{
  display: none;
}

section.ccp-05 .tab-content{
  paddin-top: 20px;
}

section.ccp-05 li.tab{
  width: 50%;
  text-align: center;
  margin-left: -3px;
}

section.ccp-05 li.tab:not(.active) a{
  color: #FFF;
  font-weight: 400;
}

section.ccp-05 li.tab:hover a{
  color: #555555;
}

.nav-tabs>li>a{
  border-radius: 0 !important;
  font-weight: 600;
  border: 1px solid #1B877F !important;
  font-weight: 400;
}

.nav-tabs>li>a:hover{
  background: #FFF;
  color: #555;
}

section.ccp-05 .tab-content{
  padding-top: 20px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer a.ccp-url button,
footer a.ccp-url button:hover,
footer a.ccp-url button:active{
  margin: 0 !important;
}

body.mobile a.mobile-hidden{
  display: none;
}

footer a.ccp-url button:last-child{
  margin-left: 12px !important; 
}

body.sticky-footer.desktop footer{
  position: fixed;
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;

  transition: bottom 1s;
  -moz-transition: bottom 1s;
  -webkit-transition: bottom 1s;
}

body.sticky-footer.desktop footer{
  opacity: 0.8;
  transition: opacity .3s;
  -moz-transition: opacity .3s;
  -webkit-transition: opacity .3s;
}

body.sticky-footer.desktop footer:hover{
  opacity: 1;
}

/* ==========================================================================
   Social Footer
   ========================================================================== */

footer {
    padding: 14px 0 !important;
    background: #fff;
    height: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.shareButtonsContainer {
  height: 32px;
  display: block;
  float: right;
  overflow: hidden;
}

.shareButtonsTitle {
  display: block;
  float: right;
  line-height: 32px;
  font-size: 12px;
  height: 32px;
  margin-right: 10px;
}

.shareButtonsContainer a {
  margin: 0 5px;
  display: inline-block;
}

.shareButtonsContainer button {
  margin: 0 5px;
  width: 32px;
  height: 32px;
  position: relative;
  border: none;
  border-radius: 50%;
  border: 1px solid transparent;
  background: transparent;
  z-index: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.shareButtonsContainer button:hover {
  opacity: .9;
}

.shareButtonsContainer a:focus,
.shareButtonsContainer button:focus {
  outline: 0;
}

.shareButtonsContainer button:first-child {
  margin-left: 0;
}

.shareButtonsContainer button:last-child {
  margin-right: 0;
}

.shareButtonsContainer button:after {
  position: absolute;
  content: '';
  width: 28px;
  height: 28px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  z-index: 2;
}

button.shareOnFacebook:after {
  background: #3b5998 url('../img/facebook.svg') no-repeat center center;
}

button.shareOnTwitter:after {
  background: #55acee url('../img/twitter.svg') no-repeat center center;
}

button.shareOnLinkedin:after {
  background: #0976b4 url('../img/linkedin.svg') no-repeat center center;
}

button.shareOnGoogle:after {
  background: #dd4b39 url('../img/googleplus.svg') no-repeat center center;
}

button.shareOnEmail:after {
  background: #979797 url('../img/mail.svg') no-repeat center center;
}

/* svg fallbacks */
.no-svg button.shareOnFacebook:after {
  background: #3b5998 url('../img/facebook.png') no-repeat center center;
}

.no-svg button.shareOnTwitter:after {
  background: #55acee url('../img/twitter.png') no-repeat center center;
}

.no-svg button.shareOnLinkedin:after {
  background: #0976b4 url('../img/linkedin.png') no-repeat center center;
}

.no-svg button.shareOnGoogle:after {
  background: #dd4b39 url('../img/googleplus.png') no-repeat center center;
}

.no-svg button.shareOnEmail:after {
  background: #979797 url('../img/mail.png') no-repeat center center;
}


/* ==========================================================================
   Media Query for Touch Devices
   ========================================================================== */

@media  (min-width: 992px) and (max-width: 1199px) {

	.easy-integrations-img {
		max-height: 315px;
	}

}

@media (max-width: 991px) {

	body {
		height: auto;
		min-width: 320px;
	}

	html {
		height: 100%;
		overflow-y: scroll;
	}

	h1 {
		font-size: 45px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-weight: 300;
		font-size: 40px;
	}

	span.headline {
		font-weight: 300;
		font-size: 12px;
	}

	header {
		height: 50px;
	}

	a.pentaho-url {
		height: 40px;
		width: 250px;
		margin: 5px 0;
		background: url(../img/logo-pentaho.svg) no-repeat left center;
		background-size: contain;
		display: block;
		outline: 0 none;
	}

	.sections-container {
		height: auto;
		top: 0 !important;
	}
/*
	.sections-container > section {
		display: block;
		width: 100%;
		height: auto;
		padding-top: 60px;
		padding-bottom: 100px;
	    overflow: hidden;
	}
*/
	.sections-container > section img {
		max-width: 100%;
	}

	.sections-container > section.ccp-01 {
		padding-bottom: 40px;
	}

	.sections-container section.ccp-01 .col-md-8,
	.sections-container section .col-md-8 {
		text-align: right;
		position: relative;
	}

	.sections-container section.ccp-01 .col-md-8 img {
		margin-right: -15px;
		margin-top: 30px;
	}

	.sections-container > section.ccp-01 a {
    position: absolute;
    left: calc(50% - 60px);
    top: -50px;
    bottom: 0;
    margin: auto 0;
    height: 32px;
	}

	.sections-container > section.ccp-01 a button {
    width: 128px;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    padding: 0;
	}

	.sections-container > section.ccp-01 a.documentation-url button {
		margin-top: 55px !important;
	}

	.sections-container > section.ccp-02 {
		padding-bottom: 0;
		background: #F4F5F6;
	}

	.sections-container > section.ccp-02 img,
	.sections-container > section.ccp-03 img,
	.sections-container > section.ccp-04 img {
		margin-top: 40px;
		margin-right: -15px;
	}

	.sections-container > section.ccp-05 img {
		margin: 40px auto 0;
    width: 300px;
	}

	.sections-container > section.ccp-03 {
		padding-bottom: 0;
	}

	.sections-container > section.ccp-04 {
		padding-bottom: 0;
		background: #F4F5F6;
	}

	.sections-container > section.ccp-05 {
		padding-bottom: 40px;
	}

}

@media  (min-width: 767px) and (max-width: 991px) {
	.sections-container > section.ccp-01 {
		padding-bottom: 100px;
	}

	.sections-container > section.ccp-02,
	.sections-container > section.ccp-03,
	.sections-container > section.ccp-04,
	.sections-container > section.ccp-05 {
		padding-bottom: 60px;
	}

	.sections-container > section img {
		margin-left: auto !important;
		margin-right: auto !important;
		max-width: 90%;
	}

	.sections-container section .col-md-8 {
		text-align: center;
	}

	a.ccp-url button,
	a.ccp-url button:link,
	a.ccp-url button:visited,
	a.ccp-url button:hover,
	a.ccp-url button:active,
	a.ccp-url button:focus {
		margin: 9px 0;
	}
}
